@value global-radius, font-large, font-medium, font-small from '../settings';
@value color-athens-gray, color-mercury, color-white, color-dodger-blue, color-yellow, color-crimson, color-bombay from '../common/colors.css';

.login {
  width: 420px;
  margin: 7% auto;
  /*background-color: color-athens-gray;
  border: 2px solid color-mercury;*/
  border-radius: global-radius;
}

  .waiting {
    .loading {
      display: block;
    }
  }

  .alternative {
    background: color-white;
    padding: 12px 8px;

    font-size: font-medium;
    text-align: center;
  }

  .alternative-link {
    color: color-dodger-blue;
    font-weight: bold;

    cursor: pointer;
  }

  .loading {
    display: none;
    text-align: center;
    margin: 24px auto;
  }
  .forgotpwd{
    color: color-white;
    text-decoration: none;
    text-align: center;
    display: block;
    margin-top: 15px;
    .arrow{
        position: relative;
        top: 8px;
        left: 5px;
    }
    &:hover {
      text-decoration: underline;
    }
  }
  .email-container {
    padding: 16px 12px;
  }
  .login-label{
    color: color-white;
    text-align: center;
    margin-bottom: 0;
  }
  .google-container {
    padding: 16px 12px;
  }

  .header {}

  .heading {
    composes: subheading from '../common/typography';
    padding: 16px 12px;
    text-align: center;
    color: color-white;
    width: 52%;
    margin: 0 auto;
  }
  .input {
    composes: input from '../common/input';
  }

  .message {
    color: color-yellow;
    font-size: font-small;
  }

  .blueButton {
    composes: blueButton from '../common/button';
  }

  /*.hint {
    composes: small from '../common/typography';
    color: color-bombay;
  }
*/