@value montserrat from './common/typography.css';

/*
 * Add any global styles here
 */
* {
  box-sizing: border-box;
}
html{height: 100%;}
body {
  margin: 0;
  height: 100%;
}
.approot{height: 100%;}
.app {
  composes: box from './common/layout.css';

  font-family: montserrat;
  font-weight: normal;
  font-smoothing: antialiased;
  height: 100%;
}
